<mat-toolbar color="primary">
   
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">menu</mat-icon>

    <span>&nbsp;&nbsp;&nbsp;My App</span>
    <span class="example-spacer"></span>
   
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon" (click)="saludo('hola corazon')">favorite</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon" (click)="saludo('hola compartir')">share</mat-icon>

  </mat-toolbar>
